extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-5
                .container4
                    h4
                        | Membership Registration Form
                .container.pt-3
                    form(name='myForm', action='https://paystack.com/pay/mssn-auk', method='POST')
                        input#name(type='text', name='full_name', placeholder='Full Name', required)
                        hr
                        input#email(type='email', name='email', placeholder='Email', required)
                        hr
                        input#name(type='text', name='regno', placeholder='Registration Number', required)
                        hr
                        select(name='amount', required)
                            option(value='500') 500
                        hr
                        input#name(type='text', name='level', placeholder='Level', required)
                        hr
                        input#name(type='text', name='course', placeholder='Programme of study', required)
                        hr
                        input#name(type='text', name='phone', placeholder='Phone Number', required)
                        .bttn.pt-2
                            button(type='submit') PAY NOW